<!DOCTYPE html>
  {% load static %}
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>AgroTrack - Recuperar Contraseña</title>
  <link href="{% static "global/css/login.css" %}" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/png" href="{% static "global/img/default-favicon.png" %}" />
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
  <div class="login">
    <h1>Recuperar contraseña</h1>
    <form method="post" action="">
      <p style="color:#8c8c8c;">Importante: El correo debe existir o estar activo para recuperar la contraseña, en caso contrario contactar a soporte@soporte.cl </p></br>
      <div style="display:none">
          <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
      </div>
      <!--<input class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{ form.html_name }}" placeholder="Correo" type="text"/>-->
      <label for="id_email"> Correo:</label>
      {{ form.email }}
      {% if field.errors %}
        El correo es obligatorio
      {% endif %}
      <p class="submit">
        <a href="{% url 'login' %}"><input id ="enterprise_register_button" type="button" value="Volver al inicio" onclick="" /></a>
        <input type="submit" name="commit" value="Recuperar">
      </p>
    </form>
  </div>
  <div class="login-help">
    <p>Desarrollado por Autumn SpA 2018</p>
  </div>
</body>
</html>
